/*<meta />*/

:root
{
	--Dark-Gray: #45494c;
	--Medium-Gray: #b9bec1;
	--Light-Gray: #d0d3d5;
	--White: #ffffff;
	--Daphna: #A0285A;
	--Subtle: #FCF5F8;
	--Brand: #076685;
}

body
{
	color: #404040;
	line-height: 1.7em;
	font-family: Arial;
	font-size: 10pt;
	height: 775px;
}

h1
{
	font-size: 2.3em;
	margin-bottom: 7px;
	margin-top: 7px;
	font-family: Arial;
	color: var(--Medium-Gray);
	font-style: italic;
	line-height: 1.7em;
	padding: 5px;
}

h2
{
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
}

h3
{
	font-size: 1.1em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
	margin-left: 5px;
}

p.blue
{
	color: var(--Brand);
}
